/* From https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* /* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	hanging-punctuation: first allow-end last;
	word-break: break-word;
}

/* /* Remove default margin in favour of better control in authored CSS */
*/ body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-inline: 0;
	margin-block-end: 0;
}

/* /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
*/
/* ul[role='list'], */
/* ol[role='list'] { */
/* 	list-style: none; */
/* } */

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: 0;
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-inline-size: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

input,
select,
textarea,
button {
	font: inherit;
	/* FUTURE: apperance: base; */
}
label {
	display: block;
}
input:not(
	:where([type='submit'], [type='checkbox'], [type='radio'], [type='button'], [type='reset'])
) {
	inline-size: 100%;
}
button,
input:where([type='submit'], [type='reset'], [type='button']) {
	background: CanvasText;
	color: Canvas;
	border: 1px solid transparent;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

table {
	caption-side: bottom;
	border-collapse: collapse;
	td,
	th {
		word-break: normal;
		border: 1px solid gray;
		padding: 0.5rem;
	}
}

[role='region'][aria-labelledby][tabindex] {
	overflow: auto;
}

caption {
	font-size: 90%;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
		&:focus-within {
			scroll-behavior: smooth;
		}
	}
}
