@import 'css/tokens.css';
@import 'css/reset.css';
@import 'css/type.css';

body {
	/* color: oklch(0.5 0 0); */
	color: oklch(0.3746 0.0062 75.41);
}

.card {
	background-color: oklch(1 0 0 / 80%);
	color: oklch(0.482 0.0275 277.42);
	border-radius: 10px;
	/* border: 2px solid oklch(0.7871 0 0); */
	border: 2px solid oklch(86.9% 0.005 56.366);
	box-shadow: 0 1px 2px oklch(0.9132 0.0224 87.15);
	padding-block: 6px;
	padding-inline: 4px;
	margin: 0;
	width: fit-content;
}

/* Navbar container */
[data-menubar-root] {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}
[data-menubar-trigger] {
	background-color: inherit;
	cursor: pointer;
}
[data-menubar-content] {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
[data-menubar-item] {
	display: flex;
	align-items: center;
	gap: 7px;
	padding: 4px 7px;
	border-radius: 3px;
	line-height: 20px;
	font-weight: 600;
	cursor: default;
	transition: all 0.3s ease-out;

	&:not([data-disabled]) {
		cursor: pointer;
		&:hover {
			background-color: oklch(92.3% 0.003 48.717);
		}
	}

	svg {
		width: 20px;
		height: 20px;
		transition: all 0.3s ease-out;
	}

	button {
		background-color: inherit;
		color: inherit;
		padding: 0;
		border: 0;
	}
}
