@import 'css/tokens.css';
@import 'css/reset.css';
@import 'css/type.css';

body {
	/* color: oklch(0.5 0 0); */
	color: oklch(0.3746 0.0062 75.41);
}


.text-error {
	color: #d32f2f;
	font-weight: 500;
}
